.center {
    text-align: center;
      background-color: rgb(211,211,250, .7)
  }
  .jumbotron {
    background-color: rgb(211,211,250, .7)
  }
  #test{
    padding-bottom: 3%;
  }
  body {
    background-image: url("https://burst.shopifycdn.com/photos/golden-autumn-leaves_925x.jpg");
   heigth: 100%;
   width: 100%;
    
  }